.subscribe-form {
    /* max-width: 400px; */
    margin: 2rem auto;
}

.subscribe-form form {
    margin-top: 1rem;
    @media screen and (min-width: 768px){
        display: flex;
        gap: 0.3rem;
        justify-content: center;
    }
}

.subscribe-form label {
    flex-grow: 2;
}

.subscribe-form button {
    flex-grow: 1;
}

/* 
.subscribe-form input[type="email"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscribe-form button {
    padding: 0.5rem 1rem;
} */

.subscribe-form button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

#statusMessage {
    margin-top: 1rem;
    font-size: 0.9rem;
}

#statusMessage.success {
    color: green;
}

#statusMessage.error {
    color: red;
}
